body{
	background-color:rgb(30,35,40);
	overflow:hidden;
	margin:0px;
	padding:0px;
}

#canvas{
	position:absolute;
	left:50%;
	margin-left:-225px;
	top:0px;
}

#streak{
	float:left;
	height:inherit;
	width:50px;
	color:rgb(220,225,230);
	font-family:'helvetica','arial';
	line-height:25px;
	text-align:center;
	font-size:20px;
	margin:0px;
	padding:0px;
}

#score{
	float:left;
	height:inherit;
	width:50px;
	color:rgb(220,225,230);
	font-family:'helvetica','arial';
	line-height:25px;
	font-size:20px;
	text-align:center;
	margin:0px;
	padding:0px;
}

#infoBox{
	position:absolute;
	margin:0px;
	padding:0px;
	height:25px;
	width:100px;
	left:50%;
	margin-left:-50px;
	bottom:0px;
}