extends layout

block scripts
  script(src='http://code.jquery.com/jquery-1.9.1.min.js')
  script(src='/javascripts/id3.js')
  script(src='/javascripts/songhero.js')
  link(rel='stylesheet', href='/fonts/bebas-neue-fontfacekit/stylesheet.css')
  link(rel='stylesheet', href='/stylesheets/gameStyle.css')
block content
  div(style='height: 0px;width: 0px; overflow:hidden;')
    form#imgForm
      input#selectSong(type='file',name='files')
  #selectSongUI.buttonUI
    p.selectSongUIText Select a song to play
  #gameWrap
    canvas(id='canvas')
    #trackWrap
      #track0.track
      #track1.track
      #track2.track
      #track3.track
      #track4.track
      #track5.track
  #infoBox
    #streak
    #score